body {
    background-color: black;
    text-align: center;
    color: blue;
    border: solid thick white;
    margin-left: 25%;
    margin-right: 25%;
}

h2 {
    margin-top: 7%;
    color: red;
}

ul {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
}

img {
    vertical-align: middle;
}